;; shadow-cljs configuration
{:source-paths
 ["src/test"
  "src"]

 :dependencies
 [[cider/cider-nrepl "0.17.0"]
  [rm-hull/monet "0.3.0"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main ;; <- becomes public/js/main.js
         {:entries [main.core]}}

        ;; start a development http server on http://localhost:8020
        :devtools
        {:http-root "public"
         :http-port 8020}}}}
